.navbar{
    text-align: center;
    
    & ul{
        li{
          list-style-type: none; 
          display: inline-block;
          padding: calc(1rem / 3) 1rem;
        }
    }

    a{
        color: var(--black);
        font-weight: 600;

        &:hover{
            color: var(--lightblue);
        }
    }
}