.slide {
    height: 100vh;

    h2 {
        font-family: 'Nature Beauty Personal Use';
        font-weight: normal;
        font-style: normal;
    }
}
.iconHand {
    max-width: 80px;
    margin: 50px auto 0;
}